.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
    gap: 10px;
}

.inputContainer label{
    cursor: pointer;
    font-size: 1.25rem;
    background: linear-gradient(to bottom, #0575e6, #021b79);
    -webkit-background-clip: text;
    color: transparent;
}

.inputContainer input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #021b79;
    color: #0575e6;
    outline: none;
    height: 2rem;
    border-radius: 5px;
    padding:15px;
}